<div *ngIf="error" class="error">{{ error }}</div>
<form class="form" [formGroup]="authorForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label>{{ 'ADMIN.AUTHOR.NAME' | translate }}</label>
    <input name="name" formControlName="name">
    <app-form-error [showError]="submitted" [field]="name"></app-form-error>
  </fieldset>
  <fieldset>
    <button class="button" type="submit" [disabled]="submitted && authorForm.invalid">{{ 'COMMON.BTN_SAVE' | translate }}</button>
    <button class="button" type="button" routerLink="..">{{ 'COMMON.BTN_CANCEL' | translate }}</button>
  </fieldset>
</form>
