<nav>
  <h1>
    {{ 'MAIN.WELCOME' | translate }} <span appUppercase>{{ title }}</span>!
  </h1>
  <div class="menu">
    <a routerLink="/books" routerLinkActive="active">{{ 'MAIN.LNK_BOOKS' | translate }}</a>
    <a routerLink="/admin" routerLinkActive="active">{{ 'MAIN.LNK_ADMIN' | translate }}</a>
  </div>
  <div class="right">
    <a (click)="setLocale('fr')" [ngClass]="{active: locale === 'fr'}">{{ 'MAIN.LOCALE_FR' | translate }}</a>
    <a (click)="setLocale('en')" [ngClass]="{active: locale === 'en'}">{{ 'MAIN.LOCALE_EN' | translate }}</a>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  {{ 'MAIN.FOOTER' | translate }}
</footer>
