nav {
  background-color: #555;
  color: white;
  margin: 0;
  padding: 5px;
  h1 {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 20px;
  }
  .menu {
    display: inline-block;
  }
  a[routerLink]:not(.active) {
    color: white;
  }
  .right {
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 5px;
    a {
      text-decoration: none;
      margin-right: 10px;
      cursor: pointer;
      &.active {
        font-weight: bold;
      }
    }
  }
}
footer {
  background-color: #efefef;
  padding: 20px;
}