<h2>
  {{ 'ADMIN.ZONE_TITLE' | translate }}
</h2>
<a routerLink="new-book" routerLinkActive="active">{{ 'ADMIN.LNK_NEWBOOK' | translate }}</a>
<a routerLink="new-author" routerLinkActive="active">{{ 'ADMIN.LNK_NEWAUTHOR' | translate }}</a>
<router-outlet></router-outlet>