<div *ngIf="error" class="error">{{ error }}</div>
<form class="form" (ngSubmit)="onSubmit(bookForm.form)" #bookForm="ngForm">
  <fieldset>
    <label>{{ 'ADMIN.BOOK.TITLE' | translate }}</label>
    <input name="title" [(ngModel)]="book.title" #title="ngModel" required>
    <app-form-error [showError]="submitted" [field]="title"></app-form-error>
  </fieldset>
  <fieldset>
    <label>{{ 'ADMIN.BOOK.AUTHOR' | translate }}</label>
    <input name="author" [(ngModel)]="book.author" #author="ngModel" required minLength="2">
    <app-form-error [showError]="submitted" [field]="author"></app-form-error>
  </fieldset>
  <fieldset>
    <label>{{ 'ADMIN.BOOK.RESUME' | translate }}</label>
    <textarea name="resume" [(ngModel)]="book.resume" #resume="ngModel" rows="5" required></textarea>
    <app-form-error [showError]="submitted" [field]="resume"></app-form-error>
  </fieldset>
  <fieldset>
    <button class="button" type="submit" [disabled]="submitted && bookForm.form.invalid">{{ 'COMMON.BTN_SAVE' | translate }}</button>
    <button class="button" type="button" routerLink="..">{{ 'COMMON.BTN_CANCEL' | translate }}</button>
  </fieldset>
</form>
