<div *ngIf="showError && field.invalid" class="error">
  <div *ngIf="field.errors.required">
    {{ 'COMMON.VALIDATION.REQUIRED' | translate }}
  </div>
  <div *ngIf="field.errors.minlength">
    {{ 'COMMON.VALIDATION.MINLENGTH' | translate:{ value:field.errors.minlength.requiredLength } }}
  </div>
</div>
