$btnBgColor: #eee;

html,
body {
  font-size: 14px;
}

.container {
  padding: 20px;

  h2 {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
}

.error {
  padding: 10px;
  background-color: lighten(red, 20%);
  color: white;
}

a[routerLink] {
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 5px;
  padding: 5px;

  &.active {
    background-color: $btnBgColor;
  }
  &:hover {
    background-color: darken($btnBgColor, 10%);
  }
}

.form {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;

  fieldset {
    border: none;

    input,
    select,
    textarea {
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
    }

    textarea {
      resize: vertical;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 3px;
    }

    button {
      margin-right: 5px;
      padding: 5px 10px;
    }

    .error {
      margin-top: 5px;
      padding: 2px 5px;
    }
  }
}
