<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="book" class="book">
  <div class="tu-title title">
    <label>{{ 'BOOKS.DETAIL.TITLE' | translate }}</label>
    <span>{{ book.title }}</span>
  </div>
  <div class="tu-author author">
    <label>{{ 'BOOKS.DETAIL.AUTHOR' | translate }}</label>
    <span>{{ book.author }}</span>
  </div>
  <div class="tu-resume resume">
    <label>{{ 'BOOKS.DETAIL.RESUME' | translate }}</label>
    <span>{{ book.resume }}</span>
  </div>
  <div class="commands">
    <a routerLink=".." class="active">{{ 'COMMON.BTN_BACK' | translate }}</a>
  </div>
</div>
