.book {
  padding: 10px;
  border: 1px solid #eee;
  .commands {
    border-top: 1px solid #eee;
    margin-top: 15px;
  }
  label {
    font-weight: bold;
    margin: 10px 0;
    display: block;
  }
}